<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="upn_gestionContact.*"/>

    <bean id="contact1" class="upn_gestionContact.entities.Contact">
        <property name="fname" value="Gaya"/>
        <property name="lname" value="Khelili"/>
        <property name="email" value="Gaya.khelili@parisnanterre.fr"/>
    </bean>

    <bean id="address1" class="upn_gestionContact.entities.Address">
        <property name="street" value="street"/>
        <property name="city" value="city"/>
        <property name="zip" value="zip"/>
        <property name="country" value="country"/>
    </bean>

    <bean id="phone1" class="upn_gestionContact.entities.Phone">
        <property name="phoneKind" value="perso"/>
        <property name="phoneNumber" value="0758329795"/>
    </bean>

    <bean id="phone2" class="upn_gestionContact.entities.Phone">
        <property name="phoneKind" value="prop"/>
        <property name="phoneNumber" value="0658757575"/>
    </bean>

    <bean id="group1" class="upn_gestionContact.entities.ContactGroup">
        <property name="groupName" value="M2miage"/>
    </bean>

</beans>