<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="upn_gestionContact.*"/>

    <bean id="contact1" class="upn_gestionContact.entities.Contact">
        <property name="fname" value="Gaya"/>
        <property name="lname" value="Khelili"/>
        <property name="email" value="Gaya.khelili@parisnanterre.fr"/>
        <property name="address" ref="address1"/>
        <property name="phones" ref="phones1"/>
        <property name="contactGroups" ref="groups1"/>
    </bean>

    <bean id="contact2" class="upn_gestionContact.entities.Contact">
        <property name="fname" value="Reda"/>
        <property name="lname" value="Bendraou"/>
        <property name="email" value="Reda.bendraou@parisnanterre.fr"/>
        <property name="address" ref="address2"/>
        <property name="phones" ref="phones2"/>
    </bean>

    <bean id="address1" class="upn_gestionContact.entities.Address">
        <property name="street" value="16 rue universite"/>
        <property name="city" value="Nanterre"/>
        <property name="zip" value="92000"/>
        <property name="country" value="France"/>
    </bean>

    <bean id="address2" class="upn_gestionContact.entities.Address">
        <property name="street" value="Reda street"/>
        <property name="city" value="Reda city"/>
        <property name="zip" value="Reda zip"/>
        <property name="country" value="Reda country"/>
    </bean>

    <bean id="phone1" class="upn_gestionContact.entities.Phone">
        <property name="phoneKind" value="perso"/>
        <property name="phoneNumber" value="0758329795"/>
        <property name="contact" ref="contact1"/>
    </bean>

    <bean id="phone2" class="upn_gestionContact.entities.Phone">
        <property name="phoneKind" value="pro"/>
        <property name="phoneNumber" value="0758757575"/>
        <property name="contact" ref="contact1"/>
    </bean>

    <bean id="phone3" class="upn_gestionContact.entities.Phone">
        <property name="phoneKind" value="perso"/>
        <property name="phoneNumber" value="0658329795"/>
        <property name="contact" ref="contact2"/>
    </bean>

    <bean id="phone4" class="upn_gestionContact.entities.Phone">
        <property name="phoneKind" value="pro"/>
        <property name="phoneNumber" value="0606060606"/>
        <property name="contact" ref="contact2"/>
    </bean>


    <bean id="phones1" class="java.util.HashSet">
        <constructor-arg>
            <set>
                <ref bean="phone1" />
                <ref bean="phone2" />
            </set>
        </constructor-arg>
    </bean>

    <bean id="phones2" class="java.util.HashSet">
        <constructor-arg>
            <set>
                <ref bean="phone3" />
                <ref bean="phone4" />
            </set>
        </constructor-arg>
    </bean>

    <bean id="group1" class="upn_gestionContact.entities.ContactGroup">
        <property name="groupName" value="M2miage"/>
        <property name="contacts" ref="contacts1"/>
    </bean>

    <bean id="groups1" class="java.util.HashSet">
        <constructor-arg>
            <set>
                <ref bean="group1" />
            </set>
        </constructor-arg>
    </bean>

    <bean id="contacts1" class="java.util.HashSet">
        <constructor-arg>
            <set>
                <ref bean="contact1" />
            </set>
        </constructor-arg>
    </bean>

</beans>